doctype html
html(lang="en")
  head
    title= title
    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
        background-color: #f4f4f4;
      }
      h1 {
        color: #333;
      }
  body
    h1= Welcome #{email}!
    p Welcome to our website! We hope you have a great experience.